.mainDashboard {
    width: 100vw;
    display: flex;
    justify-content: center;
}

.mainDashboardContents {
    width: 100%;
    max-width: 1280px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 15px;
    margin-top: 50px;
}

.mainDashboardContents h1 {
    text-transform: uppercase;
}

.mainItemsTable {
    width: 100%;
    background-color: #fff;
    border: solid 1px gainsboro;
    margin-bottom: 100px;
    
}

.mainItemsTableContents {
    width: 100%;
}

.mainItemsTableContents table {
    width: 100%;
    border-spacing: 0;
}

.mainItemsTableContents tr {
    height: 40px;
    text-align: center;
    /* position: relative; */
}

.mainItemsTableContentsContext {
    width: 100px;
    height: 20px;
    position: absolute;
    background-color: red;
}

.mainItemsTableContents table tr:nth-child(even).Entrada {
    background-color: rgba(153, 205, 50, 0.425);
}

.mainItemsTableContents table tr:nth-child(odd).Entrada {
    background-color: rgba(153, 205, 50, 0.548);
}

.mainItemsTableContents table tr:nth-child(even).Saida {
    background-color: #cc69736c;
}

.mainItemsTableContents table tr:nth-child(odd).Saida {
    background-color: #ca23345e;
}

.mainItemsTableContentsFooter {
    padding: 10px;
    display: flex;
    flex-direction: row-reverse;
}

@media screen and (max-width: 627px) {
    td, th {
        font-size: 8px;
    }
}

@media screen and (max-width: 627px) {
    .mainDashboardContents {
        padding: 10px;
    }
}