.mainDashboard {
    width: 100vw;
    display: flex;
    justify-content: center;
}

.mainDashboardContents {
    width: 100%;
    max-width: 1280px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 15px;
    margin-top: 50px;
}

.mainDashboardContentsInfos {
    position: relative;
}

.mainDashboardContentsInfos button{
    position: absolute;
    right: 0;
    top: 0;
    height: 40px;
    border-radius: 40px;
    padding: 10px 35px;
    background-color: #F7F7F7;
    border: solid 1px gainsboro;
    text-transform: uppercase;
    font-weight: 800;
    color: rgb(90, 90, 90);
    cursor: pointer;
}

.mainDashboardContents h1 {
    text-transform: uppercase;
}

.mainItemsTable {
    width: 100%;
    background-color: #fff;
    box-shadow: 0px 0px 16px -17px #000000;
    margin-bottom: 100px;
    
}

.mainItemsTableContents {
    width: 100%;
}

.mainItemsTableContents table {
    width: 100%;
    border-spacing: 0;
}

.mainItemsTableContents tr {
    height: 40px;
    text-align: center;
    /* position: relative; */
}

.trEspecial {
    background-color: #F7F7F7;
    font-weight: 400;
    color: gainsboro;
}

.trEspecial td:last-of-type {
    color: rgb(58, 58, 58);
    font-weight: 700;
}


.mainItemsTableContentsContext {
    width: 100px;
    height: 20px;
    position: absolute;
    background-color: red;
}

.mainItemsTableContents table tr:nth-child(even).Entrada {
    background-color: rgba(153, 205, 50, 0.425);
}

.mainItemsTableContents table tr:nth-child(odd).Entrada {
    background-color: rgba(153, 205, 50, 0.548);
}

.mainItemsTableContents table tr:nth-child(even).Saida {
    background-color: #cc69736c;
}

.mainItemsTableContents table tr:nth-child(odd).Saida {
    background-color: #ca23345e;
}

.mainItemsTableContentsFooter {
    padding: 10px;
    display: flex;
    flex-direction: row-reverse;
}

@media screen and (max-width: 627px) {
    td, th {
        font-size: 8px;
    }
}

@media screen and (max-width: 627px) {
    .mainDashboardContents {
        padding: 10px;
    }
}