.mainHome {
    width: 100vw;
    display: flex;
    justify-content: center;
    padding-top: 80px;
}

.mainHomeContents {
    width: 100%;
    max-width: 1280px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 60px;
    margin-bottom: 60px;
    background-color: #fff;
    border: solid 3px #4286F5;
    box-shadow: 0px 0px 17px -10px rgba(0,0,0,0.75);
}

.mainHomeContents h3 {
    font-weight: 600;
    font-size: 2rem;
}

.mainHomeContentsItemsBox {
    width: 100%;
    border: solid 1px gainsboro;
    display: grid;
    gap: 15px;
    padding: 15px;
    grid-template-columns: repeat(5,1fr);
}

.mainHomeContentsItems {
    width: 100%;
    padding-top: 100%;
    border: solid 1px #000;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.mainHomeContentsBoxButton button {
    position: absolute;
    bottom: 5px;
    left: 5px;
    border: solid 1px rgb(214, 0, 0, 0.76);
    padding: 5px 10px;
    background-color: rgba(214, 0, 0, 0.76);
    color: #fff;
    font-weight: 900;
    cursor: pointer;
    transition: all .2s;
}

.mainHomeContentsBoxButton button:hover {
    border: solid 1px rgb(214, 0, 0);
    background-color: rgb(214, 0, 0);
}

.mainHomeContentsItems:hover {
    border: solid 1px #4286F5;
    cursor: pointer;
}


.mainHomeContentsBox {
    /* transform: translateY(-35px); */
    background-color: #fff;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    word-break: keep-all;
    text-align: center;
    padding: 10px;
    transition: all .2s ease-in-out;
}

.mainHomeContentsBox:hover * {
    color: #4286F5;
}

.mainHomeContentsBox small {
    margin-top: 10px;
}

.mainHomeContentsBox span {
    position: absolute;
    bottom: 5px;
    right: 10px;
}

@media screen and (max-width: 1100px) {
    .mainHomeContentsItemsBox {
        grid-template-columns: repeat(4,1fr);
    }
    .mainHomeContents {
        border-left: none;
        border-right: none;
    }
}

@media screen and (max-width: 850px) {
    .mainHomeContentsItemsBox {
        grid-template-columns: repeat(3,1fr);
    }
    .mainHomeContents {
        padding: 30px;
    }
}

@media screen and (max-width: 750px) {
    .mainHomeContentsItemsBox {
        grid-template-columns: repeat(2,1fr);
    }
}

@media screen and (max-width: 500px) {
    .mainHomeContentsItemsBox {
        grid-template-columns: repeat(1,1fr);
    }
}