.mainAppNotifications {
    position: absolute;
    right: 10px;
    width: 100%;
    max-width: 400px;
    gap: 10px;
    display: flex;
    flex-direction: column;
    z-index: 999999999999;
}

@media screen and (max-width: 650px) {
    .mainAppNotifications {
        right: 0;
        top: 0;
        position: fixed;
    }
}