.mainNavbar {
    position: absolute;
    top: 0;
    display: flex;
    width: 100vw;
    height: 70px;
    justify-content: center;
    background-color: #fff;
    border-bottom: solid 3px #4286F5;
    z-index: 9999999;
    box-shadow: 0px 0px 17px -10px rgba(0,0,0,0.75);
}

.mainNavbarContents {
    width: 100%;
    max-width: 1280px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.mainNavbarContents h2 {
    cursor: pointer;
    font-weight: 700;
    color: #4286F5;
    text-transform: uppercase;
}

.mainNavbarContents span {
    text-transform: uppercase;
    font-weight: 400;
    cursor: pointer;
}
