.mainNavbar {
    position: absolute;
    top: 0;
    display: flex;
    width: 100vw;
    height: 70px;
    justify-content: center;
    background-color: #fff;
    border-bottom: solid 1px #4286F5;
    z-index: 9999999;
}

.mainNavbarContents {
    width: 100%;
    max-width: 1280px;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 20px;
}

.mainNavbarContents h2 {
    cursor: pointer;
    font-weight: 700;
    color: #4286F5;
    text-transform: uppercase;
}